[paths]
source = app

[run]
branch = True
omit =
    */__init__.py
    */tests/*
    app/tests/*
parallel = true
source =
    app



[report]
show_missing = true
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    ^__init__\(\)$
